* {
    box-sizing: border-box;
}
.green{
    color: green;

}
.wow_hero{
    height: 10vh;
}
.params{
    height: 4vh;
}
.wow_hero h1 {
    font-weight: 300;
}

.column {
    float: left;
    width: 50%;
    height: 100%;
}
.header {
    float: left;
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type="button"] {
   background: #009688;
    color: white;
    width: 198%;
    border: none;
    text-align: center;
    height: 9vh;
}
select#type {
    width: 50%;
    #color: white;
    #background-color: #009688;
    border: none;
    #height: 35px;
}
label{
        color: black;
    font-weight: 300;
}

textarea{
    resize: none;
}
